/* 竖屏*/
@media screen and (orientation: portrait) {
    .img-polaroid {
        width: 100%;
        margin-top: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* 横屏*/
@media screen and (orientation: landscape) {
    .img-polaroid {
        height: 100%;
    }
}