/*
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 */

.doctitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}
.docdescription {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}
.docauthor {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}
.doccreationdate {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000066;
}
.doclastchangeddate {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #660000;
}
.docfilename {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000066;
}
.docfileformatinfo {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}
.docnumberofpages {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
}
.docsizeinkb {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
}
body {
	background-color: #999999;
	background-image: url(images/background.gif);
}
.toctitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	background-color: #FF9966;
}
.tcolor {
	background-color: #FF6600;
}
.ccolor {
	background-color: #660033;
}
a:link {
	font-family: "Times New Roman", Times, serif;
	color: #000099;
}
a:visited {
	font-family: "Times New Roman", Times, serif;
	color: #0066CC;
}
a:active {
	font-family: "Times New Roman", Times, serif;
	color: #CC0000;
}
