@font-face {
  font-family: "iconfont"; /* Project id 3859326 */
  src: url('./iconfont.woff2?t=1673399426700') format('woff2'),
       url('./iconfont.woff?t=1673399426700') format('woff'),
       url('./iconfont.ttf?t=1673399426700') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhantiepeizhi:before {
  content: "\e6b0";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

