@font-face {
  font-family: "iconfont"; /* Project id 3636363 */
  src: url('iconfont.woff2?t=1684982520381') format('woff2'),
       url('iconfont.woff?t=1684982520381') format('woff'),
       url('iconfont.ttf?t=1684982520381') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daochu1:before {
  content: "\e740";
}

.icon-daoru2:before {
  content: "\e741";
}

.icon-shujutongji:before {
  content: "\e664";
}

.icon-changguishujutongji:before {
  content: "\e677";
}

.icon-zitishangbiao:before {
  content: "\ec83";
}

.icon-zitixiabiao:before {
  content: "\ec85";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-refresh:before {
  content: "\e6b1";
}

.icon-tucengshaixuan:before {
  content: "\e606";
}

.icon-tuceng1:before {
  content: "\e63c";
}

.icon-layer:before {
  content: "\e613";
}

.icon-a-dashujushujutongji-02:before {
  content: "\e894";
}

.icon-baocun:before {
  content: "\e63b";
}

.icon-baocun_o:before {
  content: "\eb47";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-daochuxlsx:before {
  content: "\e62b";
}

